.match {
    background-color: #b5d5df;
    margin: 5px;
    color: #0c5970;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 150ms linear;
}

.match:hover {
    background-color: #b5d5df;
    color: #0c5970;
    margin: 5px;
    margin-bottom: 10px;
    padding: 32px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 30px);
    height: calc(50% - 20px);
    margin: 10px;
    background-color: #fff;
}

.card a {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease-out;
    box-shadow: 0 5px 20px -5px rgba(50, 50, 93, 0.12),
        0 3px 4px -2px rgba(0, 0, 0, 0.08);
    text-decoration: none !important;
    background-color: #fff;
    &:hover {
        padding: 5px;
        margin: -5px;
        box-shadow: 0 30px 75px -15px rgba(50, 50, 93, 0.3),
            0 25px 40px -20px rgba(0, 0, 0, 0.1);
    }
    & * {
        color: rgba(0, 0, 0, 0.7);
        font-family: sans-serif;
    }
}
